.divButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divMain {
    border: 3px solid blueviolet;
    width: 100%;
    border-radius: 25px;
    background: #eff1ff;
}
.buttonLi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 90%;
    height: 30px;
    background: cornflowerblue;
    border-radius: 25px;
}
.ulPosts{
    font-family: Calibri;
    background: khaki;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.liPosts{
    width: 20%;
}